/* Menünün dış çerçevesi  */
.navbar {
    background-color: white !important;
    border-radius: 50px !important; 
    margin-top: 25px !important; 
    margin-bottom: 30px !important;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.06);
    padding: 10px 30px !important; 
    width: 95%; 
    margin-left: auto; 
    margin-right: auto;
}
.nav-link {
    color: #64748b !important;
    font-weight: 500;
    padding: 8px 15px !important;
    margin: 0 5px;
    position: relative; 
    transition: all 0.3s ease;
}

.nav-link:hover {
    color: #3b82f6 !important;
}

/* Seçilen kısmın altındaki çizgi */
.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px; 
    bottom: 2px; 
    left: 50%;
    background-color: #3b82f6; 
    transition: all 0.3s ease;
    transform: translateX(-50%); 
}

.nav-link:hover::after,
.nav-link.active::after {
    width: 60%; 
}

.nav-link.active {
    color: #3b82f6 !important;
}

/* Yazı alanı saydam kısım */
.saydam-kart {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(15px); 
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 24px;
    padding: 40px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.04);
}

/* Konyaspor Sayfası  */
.list-group-item:hover {
    background-color: rgba(27, 94, 32, 0.05) !important;
    transition: 0.3s;
}
.badge {
    width: 60px;
}